web/WEB-INF/wsdl/localhost_9763/esbdb-1.0/AccessEvents.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://esbdb.asecurity.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://esbdb.asecurity.com/">

<xs:element name="ApacseventsCha" type="tns:apacseventsCha"/>

<xs:element name="getAccessEvents" type="tns:getAccessEvents"/>

<xs:element name="getAccessEventsResponse" type="tns:getAccessEventsResponse"/>

<xs:element name="getAccessFaults" type="tns:getAccessFaults"/>

<xs:element name="getAccessFaultsResponse" type="tns:getAccessFaultsResponse"/>

<xs:complexType name="getAccessEvents">
<xs:sequence>
<xs:element name="SourceIDs" type="xs:string" minOccurs="0"/>
<xs:element name="MaxResult" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccessEventsResponse">
<xs:sequence>
<xs:element name="return" type="tns:apacseventsCha" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apacseventsCha">
<xs:sequence>
<xs:element name="eventid" type="xs:string" minOccurs="0"/>
<xs:element name="eventtype" type="xs:string" minOccurs="0"/>
<xs:element name="eventtypedesc" type="xs:string" minOccurs="0"/>
<xs:element name="holderid" type="xs:string" minOccurs="0"/>
<xs:element name="holdername" type="xs:string" minOccurs="0"/>
<xs:element name="holdershortname" type="xs:string" minOccurs="0"/>
<xs:element name="cardno" type="xs:string" minOccurs="0"/>
<xs:element name="sourceid" type="xs:string" minOccurs="0"/>
<xs:element name="sourcename" type="xs:string" minOccurs="0"/>
<xs:element name="eventtime" type="xs:string" minOccurs="0"/>
<xs:element name="messagexml" type="xs:string" minOccurs="0"/>
<xs:element name="messageid" type="xs:string" minOccurs="0"/>
<xs:element name="messagetime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccessFaults">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAccessFaultsResponse">
<xs:sequence>
<xs:element name="return" type="tns:apacseventsCha" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>