src/java/META-INF/AdpWebService.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.datacontract.org/2004/07/ApacsAdapter" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.datacontract.org/2004/07/ApacsAdapter" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/encoding/client" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/transport/client">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApacsAdapter">
      <s:element name="fillGRCardHolders">
        <s:complexType />
      </s:element>
      <s:element name="fillGRCardHoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fillGRCardHoldersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fillGRCardHoldersSoapIn">
    <wsdl:part name="parameters" element="tns:fillGRCardHolders" />
  </wsdl:message>
  <wsdl:message name="fillGRCardHoldersSoapOut">
    <wsdl:part name="parameters" element="tns:fillGRCardHoldersResponse" />
  </wsdl:message>
  <wsdl:portType name="AdpWebServiceSoap">
    <wsdl:operation name="fillGRCardHolders">
      <wsdl:input message="tns:fillGRCardHoldersSoapIn" />
      <wsdl:output message="tns:fillGRCardHoldersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdpWebServiceSoap" type="tns:AdpWebServiceSoap">
    <wsp:PolicyReference URI="#AdpWebServiceSoapPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fillGRCardHolders">
      <soap:operation soapAction="http://schemas.datacontract.org/2004/07/ApacsAdapter/fillGRCardHolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdpWebServiceSoap12" type="tns:AdpWebServiceSoap">
    <wsp:PolicyReference URI="#AdpWebServiceSoap12Policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fillGRCardHolders">
      <soap12:operation soapAction="http://schemas.datacontract.org/2004/07/ApacsAdapter/fillGRCardHolders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdpWebService">
    <wsdl:port name="AdpWebServiceSoap" binding="tns:AdpWebServiceSoap">
      <soap:address location="http://192.168.0.181/AdpWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdpWebServiceSoap12" binding="tns:AdpWebServiceSoap12">
      <soap12:address location="http://192.168.0.181/AdpWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wsu:Id="AdpWebServiceSoapPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <fi:AutomaticallySelectOptimalEncoding/>
        <tcp:AutomaticallySelectOptimalTransport/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AdpWebServiceSoap12Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <tcp:AutomaticallySelectOptimalTransport/>
        <fi:AutomaticallySelectOptimalEncoding/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>